{% extends 'base.html' %}
{% block content%}

<div class="container wrapper">
    <div class="row">
        {% for article in articles%}
        <div class="col-sm-6 d-flex mb-3">
            <div class="card border-dark flex-fill">
                <a href="{{article.url}}" target="_blank">
                    <img class="card-img-top" src="{{article.urlToImage}}" alt="article image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>

                    <p>{{article.description|truncate(100)}}</p>
                        <a href="{{article.url}}" target="_blank">View articles </a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

<!-- <div class="card">
            <img class="card-img-top imagesize" src="{{article.urlToImage}}" alt="article image">
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p class="card-text">{{article.description | truncate(100) }}</p>
              <a href="{{article.url}}" target="_blank">View article</a>
            </div>
          </div>
</div> -->
