{%import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title>Get the latest news</title>
    {% endif %}
  </head>
  <body>
    <!-- general -->
    <h3>General</h3>
    <ul>
      {{macro.displaySourceList(general)}}
    </ul>
    <!-- entertainment -->
    <h3>Entertainment</h3>
    <ul>
      {{macro.displaySourceList(entertainment)}}
    </ul>
    <!-- Business -->
    <h3>Business</h3>
    <ul>
      {{macro.displaySourceList(business)}}
    </ul>
    <!-- Technology -->
    <h3>Technology</h3>
    <ul>
      {{macro.displaySourceList(technology)}}
    </ul>
    <!-- Sports -->
    <h3>Sports</h3>
    <ul>
      {{macro.displaySourceList(sports)}}
    </ul>

  </body>
</html>
